@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');

/* CSS for Real Estate site */

p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  font: normal .75em/1.5em 'Elsie Swash Caps', cursive;
  color: #777;
  text-align: right;
}

.milk-text {
  font: bold 2.6em 'Elsie Swash Caps', cursive;
  color: white;
  text-shadow: 0 2px 3px #000000;
}

#logo {
  background: aqua;
}